<h1>Sobre</h1>
<p>
	<b>Desenvolvedor</b> Rodolfo Peixoto<br>
	<b>Instituição:<b> UENF <br>
	<b>Nome da Disciplina:</b> P.O.O. <br>
	<b>Nome do Professor:</b> Ausberto <br>
	<b>Nome do Aluno:</b> Rodolfo Peixoto<br>
	<b>Versão:</b> 1.0<br>
	<b>Data:</b> dezembro/2015
</p>